node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml

build
coverage
.vite
.DS_Store
*.log

test
tests
__tests__
.storybook
stories
docs

.git
.gitignore
.gitattributes

.vscode
*.swp
Thumbs.db
desktop.ini

.github
tekton
